## Markdown
## Input & output
## variables
## datatypes
    1.int
    2.float
    3.complex
    4.boolean
    5.string
## operators
    1.Assignment operators
    2.Logical operators
    3.Relational operators
    4.Membership operators
## Control statements
    1.Conditional statements
    2.Looping statements

# Markdown

# line 1
## line 2
### line 3
#### line 4
##### line 5
###### line 6

In [ ]:
*harshitha*
**harshitha**

# Input & Output

In [1]:
# normal
print("hello world")

# using input keyword
a=input("enter a string:")
print(a)

hello world
enter a string:harshitha
harshitha

# variable

1.left assignment
2.right assignment

# datatypes

In [2]:
# int
a=10
print(type(a))

<class 'int'>

In [3]:
# float
b=4.7
print(type(b))

<class 'float'>

In [6]:
# complex
a=complex(3,4)
print(a)
type(a)

(3+4j)

complex

In [8]:
# boolean
a=True
type(a)
b=False
type(b)

bool

In [10]:
# strings
s="Hello good afternoon"
type(s)

str

# conversions

In [15]:
a=10
c=str(a)
type(c)

str

In [17]:
a = 10.5
print(type(a))
f = int(a)
print(type(f))

<class 'float'>
<class 'int'>

In [22]:

x =10
y =5
print(x>y)
print(x<y)

True
False

### Operators

### Arithmetic operators
### Logical Operators
### Relational Operators
### Membership Operators

In [24]:
n1 = 10
n2 = 2
print(n1+n2) 
print(n1-n2)
print(n1*n2)
print(n1/n2)
print(n1%n2)
print(n1//n2)
print(n1**n2)

12
8
20
5.0
0
5
100

In [28]:
## Logical operators
x = 20
y = 30

print(x>=10 and x<=30)
print(x>=10 or x<=20)
print(not x)

True
True
False

In [30]:
## Relation operators
x = 10
y = 5
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)
print(x!=y)
print(x==y)

True
False
True
False
True
False

In [34]:
## Membership operators
s1 = "hello"
if "s" not in s1:
    print("True")
else:
    print("False")

True

In [38]:
str1 = "abcd"
print("b" in str1)
print("e" not in str1)

True
True

## Conditional statements
    1.if
    2.else
    3.elif

### Syntax:
#### if:
> statement <br>
#### else:
> statement

In [40]:
n = int(input("Enter any number:"))
if n%2 == 0 :
    print("Even")
else:
    print("Odd")

Enter any number:9
Odd

In [42]:
n = int(input("Enter any number:"))
if n == 0 :
    print("Zero")
elif n>0 :
    print("Positive")
elif n<0 :
    print("Negative")

Enter any number:-1
Negative

# Loops

  1.While loop
  
  2. for loop

In [52]:
# while loop
i=1
while i<=10:
    print(i)
    i+=1  #i=i+1

1
2
3
4
5
6
7
8
9
10

In [54]:
# for loop
for i in range(0,10+1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
## Read a number as input
## Output as only sum of even numbers between 
## the range  1 to n

## Input : 10
## Output : 30 (2+4+6+8+10)